// Icon fonts
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "icon_fonts" !default;

$icon-service-icon1: "\e900";
$icon-service-icon2: "\e901";
$icon-service-icon3: "\e902";
$icon-service-icon4: "\e903";
$icon-service-icon5: "\e904";
$icon-service-icon6: "\e905";
$icon-service-icon7: "\e906";
$icon-service-icon8: "\e907";
$icon-service-icon9: "\e908";
$icon-service-icon10: "\e909";
$icon-service-icon11: "\e90a";
$icon-service-icon12: "\e90b";
$icon-service-icon13: "\e90c";
$icon-service-icon14: "\e90d";
$icon-service-icon15: "\e90e";
$icon-service-icon16: "\e90f";

// Colors
$brown-light: #C3B9B5;
$orange: #FFC59E;
$black-text: #080606;
$brown: #59443F;

// Адаптивный шрифт
$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

%tplstyle-sect-about-comp {
    font-weight: 700;
    // font-size: 20px;
    @include adaptiv-font (20, 12);
    line-height: 100%;
}

